.separation{
    display: flex;
}

.display-card {
    width: 30%;
    background: linear-gradient(0,#02aabdc2,#00cdac85);
    margin: 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 1px #e8e8e8;
    border: 1px solid #c4c3c3;
}

.parent-display {
    display: flex;
    flex-flow: wrap;
}

.left-sep {
    flex: 1;
}

.right-sep{
    width: 40%;
}

.search-card{
    background: linear-gradient(0deg,#90d5e766 0,#00d4ff94);
    margin: 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 1px #e8e8e8;
    border: 1px solid #c4c3c3;
}

.employees {
    background: #adeee9;
    height: 100%;
}

.nav-item :hover{
    background: #7de0d8;
}

.navbar-style{
    background: #47e0d475;
}

.dropdown-item-style :hover{
    background: #2dc0b3;
}

.dropdown-item-style{
    background: #7de0d8;
}

.nav-tabs .nav-item .nav-link.active {
    background: #2dc0b3;
  }

.dropdown-item.active{
    background: #2dc0b3;
}

.nav-tabs .nav-item .nav-link{
    color: #000000;
}

.seating-grid {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 1rem;
    grid-auto-flow: row;
  }

/* Add your CSS styling here */
.toggleable-grid {
    display: flex;
    flex-direction: column;
  }
  
  .grid-row {
    display: flex;
  }
  
  .grid-cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .grid-cell.green {
    background-color: green;
  }
  
  .grid-cell.red {
    background-color: red;
  }

  .set-seating{
    flex: 1
}

  .display-seating{
    width: 50%
}


.asssigned-seating-grid {
    display: flex;
    flex-direction: column;
  }
  
  .indexed-grid-row {
    display: flex;
  }
  
  .indexed-grid-cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .indexed-grid-cell.black {
    background-color: black;
  }
  
  .indexed-grid-cell.refcolor {
    background-color: #4ef5d9;
  }
